name: shppd

services:
  db:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - shppd
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydatabase"]
      interval: 10s
      timeout: 5s
      retries: 5  

  bot:
    image: shppd-telegram-bot
    container_name: telegram-bot
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
    depends_on:
      - api
    networks:
      - shppd

  api:
    image: shppd-api-connect
    container_name: api-connect
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - shppd  

volumes:
  pgdata:

networks:
  shppd:  
